    <header>
       <div class="section" id="logo">
            <img src="images/aeroplane.png" alt="" height="30px" width="30px">
            FlightDekho
       </div>

        <div class="menus" div="head-menu">
            <ul>
                <li><a href="http://localhost:8000">Home</a></li>
                <li>About Us</li>
                <li>Contact Us</li>
                <li><a href="http://localhost:8000/flights">flights</a></li>
                <li>Help</li>
            </ul>
        </div>

        <div  class="user" onclick="printsome2()">
            <a><i class="fa-solid fa-user"></i></a>
        </div>

        <div class="menu-button"  onclick="printsome()">
             <i  class="fa-solid fa-bars"></i>
        </div>
    </header>

    <div class="sing_in_option" id="signIn">
        <ul>
            <li onclick="show_sign_pop()">Sign In</li>
            <li>My Activity</li>
            <li>My Order</li>
            <li>Edit Profile</li>
            <li>Setings</li>
        </ul>
    </div>

    <div class="header_phone" id="mobile_head">
        <ul>
            <li><a href="http://localhost:8000">Home</a></li>
            <li>About Us</li>
            <li>Contact Us</li>
            <li><a href="http://localhost:8000/flights">flights</a></li>
            <li>Help</li>
        </ul>
    </div>

    <div class="signpop" id="singinPop">
        <div class="set">
            <label  for="username">UserName:</label>
        <input  type="text" id="username" placeholder="Please put username here">
        </div>
        <div class="set">
        <label  for="email">Email: </label>
        <input  type="text" id="email" placeholder="Please put email here"></div>
        <div class="set">
        <label  for="password">Password: </label>
        <input  type="text" id="password" placeholder="Please put password here">
        </div>

        <button class="create_acc_button" id="create_button" onclick="put_database()">Create Account</button>
    </div>

<script src="../js/header.js"></script>
<script src="../js/login_info.js"></script>